# Ignore folders
__pycache__/
.ruff_cache/
.vscode/

# Ignore temporary lock files starting with .~lock in the 'bitmaps' folder
bitmaps/.~lock*

# Virtual environment folders
venv/
.env/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Test coverage reports
htmlcov/
.coverage
*.cover
.cache
.nox/

# Distribution/build files
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log
*.out
*.err

# Ignore OS-specific files
.DS_Store
.AppleDouble
._*
Thumbs.db
Desktop.ini

# Temporary files
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/